<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--bootstrap導入で追加-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/header' %>
    <main>
      <% if flash[:notice] %>
        <div class="flash">
          <p style= "color:green">
            <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class= "container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
